name: Deploy to DigitalOcean

on:
  push:
    branches:
      - oluwatobi

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Prepare SSH
        run: |
          mkdir -p $HOME/.ssh
          touch $HOME/.ssh/known_hosts
          ssh-keyscan -H ${{ secrets.WEB_APP_SSH_HOST }} >> $HOME/.ssh/known_hosts

      - name: Deploy to DigitalOcean
        run: |
          # Set the passphrase for the SSH key
          SSH_PASSPHRASE="wale"

          # Provide the passphrase to the SSH key using sshpass
          echo "$SSH_PASSPHRASE" | sshpass -p ssh -i $HOME/.ssh/id_rsa -o StrictHostKeyChecking=no ${{ secrets.WEB_APP_SSH_USERNAME }}@${{ secrets.WEB_APP_SSH_HOST }} 'bash -s' <<'ENDSSH'
          # Replace with your deployment steps, e.g., stop the existing service, copy new files, and start the service.
          cd /orbit-web
          git pull
          npm install
          npm run build
          # Restart your web server, e.g., Nginx or Apache
          sudo systemctl restart nginx
          ENDSSH
        env:
          SSH_PASSPHRASE: ${{ secrets.SSH_KEY_PASSPHRASE }}
